extends layout.pug

block scripts

block content
        br
        h1(style='text-align:center') About Us
        hr
        p(style='font-family:Arial; line-height: 30px; text-align:center;')
            | We are a group of 4 Computer Science students developing an e-commerce website for our Senior Design Project. We want our website to be a platform for art and design students to showcase their talent and creativity, so we are looking for students to submit their designs! We will be selling T-shirts with designs from UC Davis students to support the art community.
        br
