extends layout.pug


block scripts
    link(href='stylesheets/myaccount.css', rel='stylesheet', type='text/css')
    block subscripts

block content
    .container
        .navbar.navbar-default(style="padding: 0; margin-left: 20px; margin-right: 30px;")
            .container-fluid
                .navbar-header
                    ul.nav.navbar-nav(style="font-family: 'Playfair Display', serif; font-size: 20px")
                        li
                            a(href='/orderhistory') My Orders
                        if(user)
                            if(user.role === 'admin')
                                li
                                    a(href='/logs') Dashboard
                                li
                                    a(href='/additems') Add Items
                        li
                            a(href='/submitdesign') Submit a Design
                        
                        li
                            a(href='/logout') Logout
    hr
            

    block subcontent