extends layout.pug


block scripts
    link(href='stylesheets/myaccount.css', rel='stylesheet', type='text/css')
    script(src="/javascripts/logout.js")
    block subscripts

block content
    .container(style="margin-left:10%")
        .navbar.navbar
            .container-fluid
                .navbar-header
                    .nav.navbar-nav.collapse.navbar-collapse(style="font-family: 'Playfair Display', serif; font-size: 20px")
                        li
                            a(href='/orderhistory') My Orders
                        //li
                        //    a(href='/logs') Dashboard (admin)
                        //li
                        //    a(href='/additems') Add Sale Item (admin)
                        li
                            a(href='/submitdesign') Submit a Design
                        li
                            a(target='_top')
                                span#fbLogout(style='cursor: pointer;', onclick='facebookLogout()') Logout
        hr
            

    block subcontent