doctype html
html
    head
        title= title
    body
        .checkmark
            a(href='/additems')
                img(src='../images/checkmark.png', style='width:190px;height:190px;', alt='')
        p Remember to create paypal button and add item images (itemid.jpg) (example: 7.jpg, 7_1.jpg, 7_2.jpg)
        a(href='/additems') Back