doctype html
html
  head
    link(href='../public/stylesheets/confirmation.css', rel='stylesheet', type='text/css')
    h1(style='font-size:10vw', ;='')
      | THANK YOU!
      .checkmark
        a(href='#')
          img(src='../images/checkmark.png', style='width:190px;height:190px;', alt='')
    h2
      | Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com to view details of this transaction.
