extends layout.pug

block scripts

block content
    br
    h1(style='text-align:center') The Shop
    hr
    h4(style='text-align:center') Free Pickup on Campus!
    // Grid of Items for Sale
    .special-top
        .container
            .special-top
                ul#item_container.grid_2
                    each val in data.tshirts_objects
                        if(val.display == "public")    
                            li
                                a(href='details/' + val.itemid)
                                    img.img-responsive(src='https://storage.googleapis.com/ecs193-192818.appspot.com/public/images/' + val.itemid + '.jpg', alt='')
                                .special-info.grid_1.simpleCart_shelfItem
                                    h4(style='text-align:center')= val.name
                                    .item_add
                                        span.item_price
                                            p(style='font-family:sans-serif') $#{val.price}
                                    center
                                        form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                            input(type='hidden', name='cmd', value='_s-xclick')
                                            input(type='hidden', name='hosted_button_id', value=val.paypal_id)
                                            table
                                                tr
                                                    td
                                                        input(type='hidden', name='on0', value='Sizes')
                                                        | Sizes
                                                tr
                                                    td
                                                        select(name='os0')
                                                            option(value='S') S 
                                                            option(value='M') M 
                                                            option(value='L') L 
                                            br
                                            input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                                            img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')