doctype html
html
    head
        title= title
        block scripts
        link(rel="icon" type="image/png" href="/images/193logo_1.png")


    body
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MNDTP2T', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        // header_top
        nav.navbar-fixed-top.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='/index')
                        img(alt='Brand', src='/images/193logo_2.png', style='width:80px;height:80px')
                        .nav.navbar-nav.collapse.navbar-collapse
                            li
                                a(href='/index') Shop
                            li
                                a(href='/artists') Meet the Artists
                            li
                                a(href='/about') About Us

                form.btn.navbar-btn.navbar-right(type="button" target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA6ZkmqvzBBNH/hxWD4vCukoTuamWLc6/ANnHhLfq62MOa9Jt36IVeN90cYPKuYFChMs1RiH1KkOQWz4vzR9ZsVnfoX0lNHwqIkMDpKFem9gy5snpIF8lkRdl8ixWBjeQ9nK2XSvIC70Ti0Wcno5lX4HHix2WbIWTGz6qYAFAUqUDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAhXfOt2keEEZIAwe6t35Alk7nOcwUvGMgHDJOrbCPIi6aeSzUJNINLdw6HCXcmsNw9Zl8NUcMuo7gqRoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTgwMjE1MjI0OTM0WjAjBgkqhkiG9w0BCQQxFgQUlTKTnkaLKU2YUHvcu112GPRFQmEwDQYJKoZIhvcNAQEBBQAEgYBV8UP3arf9gb8+rZfMH1QOFW0sEfVgjIWwYzb5dCs+xJHHaWHQxFATdEQiynINX7OcaXeWAJnekpUYVMDa7YAzj539/f5J582PK3ZjgRtS63wM2rQuT0sOWHkAeLDwg5iMjAMh0lovLoJraPe4598s/igZcEMublUH/R8dLdxuug==-----END PKCS7-----')
                    input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1') 
                    .clearfix

                form.search.collapse.navbar-collapse.navbar-right(style='border-top-width:7px; font-size:18px; border-color: #222;')
                    input(type='text', value='', placeholder='Search...')
                    input(type='submit', value='')
                .clearfix 

        .clearfix 
        // header
        .header_bg
            .container
                .header
                    .head-t
                        // .logo.center
                            // a(href='/index')
                                // img.center.img-responsive(src='/images/193logo_1 (1).png', style='width:250px;height:250px', alt='')
                        hr
                        // start header_right
                        // .header_right
                            // .rgt-bottom
                                // .log
                                    // .login
                                        #loginContainer
                                            a#loginButton(href='#')
                                                // span Login
                                            #loginBox
                                                form#loginForm
                                                    fieldset#body
                                                        fieldset
                                                            label(for='email') Email Address
                                                            input#email(type='text', name='email')
                                                        fieldset
                                                            label(for='password') Password
                                                            input#password(type='password', name='password')
                                                        input#login(type='submit', value='Sign in')
                                                        label(for='checkbox')
                                                            input#checkbox(type='checkbox')
                                                            i Remember me
                                                    span
                                                        a(href='#') Forgot your password?
                                // .reg
                                    // a(href='#') REGISTER
                                // .cart.box_1
                                   //  a(href='#')
                                        // h3
                                            // span.simpleCart_total $0.00
                                            // |  (
                                            // span#simpleCart_quantity.simpleCart_quantity
                                            // |  items)
                                            // img(src='/images/bag.png', alt='')
                                    // p
                                        // a.simpleCart_empty(href='javascript:;') (empty cart)
                                    .clearfix    
                        .clearfix  
                    // start header menu
                    // ul.megamenu.skyblue
                        li.active.grid
                            // a.color1(href='/index') Home
                        li
                            // a.color8(href='#') SALES
                            .megapanel
                                .row
                                    .col1
                                        .h_nav
                                            h4 Clothing
                                            ul
                                                li
                                                    a(href='#') new arrivals
                                    .row
                                        .col2
                                        .col1
                                        .col1
                                        .col1
                                        .col1

                block content

                // footer
                .foot-top
                    .container
                        .col-md-6.s-c
                            li
                                .fooll
                                    h5 follow us on
                            li
                                .social-ic
                                    ul
                                        li
                                            a(href='https://www.facebook.com/193tees/')
                                                i.facebok  
                                        li
                                            a(href='https://twitter.com/193Tees')
                                                i.twiter  
                                        li
                                            a(href='https://www.instagram.com/193tees')
                                                i.be  
                                        .clearfix
                            .clearfix  
                        .col-md-6.s-c
                            .stay
                                .stay-left
                                    form
                                        input(type='text', placeholder='Enter your email to join our newsletter', required='')
                                .btn-1
                                    form
                                        input(type='submit', value='join')
                                .clearfix  
                        .clearfix  
                #thefoot.footer
                    .container
                        .col-md-3.cust
                            h4 CUSTOMER CARE
                            //li
                            //    a(href='#') Help Center
                            //li
                            //    a(href='#') FAQ
                            li
                                a(href='#') How To Buy
                            //li
                            //    a(href='#') Delivery
                        .col-md-2.abt
                            h4 ABOUT US
                            li
                                a(href='/artists') Meet the Artists
                            li
                                a(href='/about') About Us
                            //li
                            //    a(href='#') Career
                            //li
                            //    a(href='#') Contact
                        .col-md-2.myac
                            h4 MY ACCOUNT
                            //li
                            //    a(href='#') Register
                            li
                                a(href='#') My Cart
                            //li
                            //    a(href='#') Order History
                            //li
                            //    a(href='#') Payment
                        .col-md-5.our-st
                            .our-left
                                h4 OUR STORES
                            .clearfix  
                            li
                                i.add  
                                | 1 Shields Ave, Davis, CA
                            // <li><i class="phone"> </i>(555) 901-3434</li>
                            li
                                a(href='mailto:193tees@gmail.com')
                                    i.mail  
                                    | 193tees@gmail.com
                        .clearfix  
                        p(style='color:white')
                            | Copyrights © 2015 Gretong. All rights reserved | Template by 
                            a(href='http://w3layouts.com/' style='color:white') W3layouts