extends layout.pug

block scripts

block content
    br
    h2 Please login to continue.
    br

    div
        // a(href='/orderhistory')
            // img#account-button(src='/images/icon-user.png', alt='User Icon', width='42', height='42', border='0', style='margin: 1vw; margin-right: 0.5vw; display: none')
        a(href='/auth/facebook', target='_blank', onclick='facebookLogin()')
            img#facebook-button(src='/images/fb-login.png', alt='Facebook Icon', width='90', height='30', style='margin: 1vw; margin-left: 1.5vw; margin-right: 0.5vw; display: block;')
    br
