extends layout.pug

block scripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/myaccount.css', rel='stylesheet', type='text/css')

block content
    body
        .container
            .sidenav
                a(href='#') My Orders
                a(href='/logs') Dashboard (admin)
                a(href='#') Add Sale Item (admin)
                a(href='#') Sign Out
            .main
                h1(style='text-align: center;') My Orders
                hr
                table
                    tr
                        th Order ID
                        th Order Date
                        th Quantities
                        th Item IDs
                    each val in data.myaccount_objects
                        tr
                            td= val.orderid
                            td= val.order_date
                            td= val.quantity_list
                            td= val.item_id_list
                br