extends layout.pug

block scripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/myaccount.css', rel='stylesheet', type='text/css')

block content
    body
        .sidenav
            a(href='#') My Orders
            a(href='/logs') Dashboard (admin)
            a(href='#') Add Sale Item (admin)
            a(href='#') Sign Out
        br
        .main
        
            h1(style='text-align: center;') My Orders
            hr
            br
            table
                tr
                    th Order ID
                    th Order Date
                each val in data.myaccount_objects
                    tr
                        td= val.orderid
                        td= val.order_date
            br
