extends accountnavlayout.pug

block subscripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')

block subcontent       
    .main
        h1(style='text-align: center;') My Orders
        hr
        table
            tr
                th Order ID
                th Order Date
                th Quantities
                th Item IDs
            each val in data.orderhistory_objects
                tr
                    td= val.orderid
                    td= val.order_date
                    td= val.quantity_list
                    td= val.item_id_list
        br
        //form(target='_new', method='post', action='/paypalipn')
        //    input(type='hidden', name='first_name', value='fred')
        //    input(type='hidden', name='last_name', value='johnson')
        //    input(type='hidden', name='receiver_email', value='193tees@gmail.com')
        //    input(type='submit')

