extends accountnavlayout.pug

block subscripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')

block subcontent       
    .main
        h1(style='text-align: center;') My Orders
        hr
        table
            tr
                th Order ID
                th Order Date
                th Quantities
                th Item IDs
            each val in data.orderhistory_objects
                tr
                    td= val.orderid
                    td= val.order_date
                    td= val.quantity_list
                    td= val.item_id_list
        br

