extends accountnavlayout.pug

block subscripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')

block subcontent       
    .main
        h1(style='text-align: center;') My Orders
        hr
        table
            tr
                th Order ID
                th Order Date
                th Quantities
                th Item IDs
            each val in data.orderhistory_objects
                tr
                    td= val.orderid
                    td= val.order_date
                    td= val.quantity_list
                    td= val.item_id_list
        br
        form(target='_new', method='post', action='/paypalipn')
            input(type='hidden', name='first_name', value='fred')
            input(type='hidden', name='last_name', value='johnson')
            input(type='hidden', name='receiver_email', value='193tees@gmail.com')
            input(type='hidden', name='item_name1', value='Kitty Tee')
            input(type='hidden', name='item_name2', value='Frog Tee')
            input(type='hidden', name='item_number2', value='9_2')
            input(type='hidden', name='item_number1', value='5_1')
            input(type='hidden', name='quantity2', value='1')
            input(type='hidden', name='quantity1', value='1')
            input(type='hidden', name='option_selection1_1', value='S')
            input(type='hidden', name='option_selection1_2', value='M')
            input(type='submit')


        form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value='6UV5FJNBPKPFN')
            table
                tr
                    td
                        input(type='hidden', name='on0', value='Sizes')
                        | Sizes
                tr
                    td
                        select(name='os0')
                            option(value='S') S 
                            option(value='M') M 
                            option(value='L') L 
            input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
            img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

        form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value='UMS8HEVCKTQR6')
            table
                tr
                    td
                        input(type='hidden', name='on0', value='Sizes')
                        | Sizes
                tr
                    td
                        select(name='os0')
                            option(value='S') S 
                            option(value='M') M 
                            option(value='L') L 
            input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
            img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

