extends accountnavlayout.pug

block subscripts
    link(href='stylesheets/logs.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

block subcontent
    .container
        .main
            h1(style='text-align: center;') Submit a Design
            hr
            a(href='https://goo.gl/forms/iz2tsXB53pG2622d2')
                button.btn.btn-lg.pull-right(type='button', style="font-family: 'Playfair Display', serif") Upload Design

            br
            br
            
            p
                | We are a group of 4 Computer Science students developing an e-commerce website for our Senior Design Project. Our website is a platform for art and design students to showcase their talent and creativity, so we are looking for students to submit their designs! We are selling T-shirts with designs from UC Davis students to support the art community. For each shirt sold ($10), the designer/artist will get $1 (about 25% of the earnings after tshirt fees, paypal fees, etc.). We also promote the artist/designer on the website by sharing an About Me” of them and linking their portfolio.
                br
                br
                | Tell us where on the T-shirt you would like your design to be printed. Files should be set up to sizes not to exceed (to approximate size in inches divide pixels at each dimension by 300):
                br
                br
                | a) Full front or back, 14 x 16 @ 300dpi (4200 x 4800 pixels).
                br
                br
                | b) Left or right chest, 4 x 4 though 1 x 4 is recommended (300 x 1200)
                br
                br
                | The design can be anything of your choice (so long as no copyrights are infringed and no one is offended by the design).
                br
                br
                | Email us if you have any questions!
