table {
    font-family: ;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    text-align: center;
}

.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
.day {
    fill: #fff;
    stroke: #ccc;
}
text    {
    font-family:sans-serif;
    font-size:1.5em;
}
.dayLabel   {
    fill:#aaa;
    font-size:0.8em;
}
.monthLabel {
    text-anchor:middle;
    font-size:0.8em;
    fill:#aaa;
}
.yearLabel  {
    fill:#aaa;
    font-size:1.2em;
}
.key    {
	font-size:0.7em;
}
#chart {
	left:50%;
}