body {
    font-family: "Lato", sans-serif;
}

p {
    font-size: 14px;
    text-align: center;
}
.container {
    padding-top: 20px;
    padding-bottom: 10px;
}
.sidenav {
    max-width: 28%;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 0px;
    background: #eee;
    overflow-x: hidden;
    padding: 5px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    font-family: 'Playfair Display', serif;
}
.sidenav a:hover {
    color: white;
}
.main {
    margin-left: ; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 100px;
    padding-right: 0px;
    padding-left: 0px;
}
/*.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-height: 1200px) {
 }
