body {
    font-family: "Lato", sans-serif;
    padding: 40px;
}

.container {
    padding: 35px;
}
.sidenav {
    max-width: 28%;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 120px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    font-family: 'Playfair Display', serif;
}
.sidenav a:hover {
    color: #064579;
}
.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 100px;
    padding-right: 0px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}